@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Navigáció */
.navbar {
    background-color: #e9ecef;
}

.navbar .form-control {
    width: 200px;
}

/* Regisztrációs űrlap */
.form-container {
    max-width: 700px;
    margin: 60px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.form-container h4 {
    margin-bottom: 25px;
}

.form-control {
    margin-bottom: 15px;
}

.btn-register {
    background-color: black;
    color: white;
    width: 100%;
    border: none;
    transition: 0.2s;
}

.btn-register:hover {
    background-color: #343a40;
}
